
.lab		{margin-right:5px;width:100px;height:24px;line-height:24px;float:left;}
.title_lab	{font-size:22px;font-weight:550;border-bottom:1px solid #8f8f8f;}
.modules	{width:400px;}
.person_item{width:160px;height:220px;}
