.h-2x {
  font-size: 2em
}

.h-3x {
  font-size: 3em
}

.h-4x {
  font-size: 4em
}

.h-5x {
  font-size: 5em
}

.h-fw {
  width: 1.28571429em;
  text-align: center
}

.h-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none
}

.h-ul > li {
  position: relative
}

.h-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: .14285714em;
  text-align: center
}

.h-li.h-lg {
  left: -1.85714286em
}

.h-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em
}

.h-pull-left {
  float: left
}

.h-pull-right {
  float: right
}

.h.h-pull-left {
  margin-right: .3em
}

.h.h-pull-right {
  margin-left: .3em
}

.pull-right {
  float: right
}

.pull-left {
  float: left
}

.h.pull-left {
  margin-right: .3em
}

.h.pull-right {
  margin-left: .3em
}

.h-spin {
  -webkit-animation: h-spin 2s infinite linear;
  animation: h-spin 2s infinite linear
}

.h-pulse {
  -webkit-animation: h-spin 1s infinite steps(8);
  animation: h-spin 1s infinite steps(8)
}

@-webkit-keyframes h-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes h-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

.h-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

.h-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.h-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg)
}

.h-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1)
}

.h-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1)
}

:root .h-rotate-90, :root .h-rotate-180, :root .h-rotate-270, :root .h-flip-horizontal, :root .h-flip-vertical {
  filter: none
}

.h-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle
}

.h-stack-1x, .h-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center
}

.h-stack-1x {
  line-height: inherit
}

.h-stack-2x {
  font-size: 2em
}

.h-inverse {
  color: #fff
}
