		
.ImgMove		{background:url(../../../image/ui/imgtool/hand.png);}
.ImgCutBox		{background:url(../../../image/ui/imgtool/cutbox.png);}
.ImgZoomIn		{background:url(../../../image/ui/imgtool/zoom_in.png);}
.ImgZoomOut		{background:url(../../../image/ui/imgtool/zoom_out.png);}
.ImgViewPort	{background:url(../../../image/ui/imgtool/viewport.png);}
.ImgFitWidth	{background:url(../../../image/ui/imgtool/fit_width.png);}
.ImgFitHeight	{background:url(../../../image/ui/imgtool/fit_height.png);}
.ImgPrecent50	{background:url(../../../image/ui/imgtool/p_50.png);}
.ImgPrecent100	{background:url(../../../image/ui/imgtool/p_100.png);}
.ImgPrecent150	{background:url(../../../image/ui/imgtool/p_150.png);}
.ImgPrecent200	{background:url(../../../image/ui/imgtool/p_200.png);}
.ImgRotateLeft	{background:url(../../../image/ui/imgtool/left_rotate.png);}
.ImgRotateRight	{background:url(../../../image/ui/imgtool/right_rotate.png);}
.ImgRotate0		{background:url(../../../image/ui/imgtool/angle_0.png);}
.ImgRotate90	{background:url(../../../image/ui/imgtool/angle_90.png);}
.ImgRotate180	{background:url(../../../image/ui/imgtool/angle_180.png);}
.ImgRotate270	{background:url(../../../image/ui/imgtool/angle_270.png);}
.ImgAlign		{background:url(../../../image/ui/imgtool/align.png);}
.AdjustScale	{background:url(../../../image/ui/imgtool/adjust_scale.png);}
.ChooseMethod	{background:url(../../../image/ui/imgtool/choose_method.png);}
.ChooseMnt	    {background:url(../../../image/ui/imgtool/choose_mnt.png);}
.SaveMore	    {background:url(../../../image/ui/imgtool/save_more.png);}
.TextInfo		{background:url(../../../image/ui/imgtool/text_info.png);}
.Synchro		{background:url(../../../image/ui/imgtool/synchro.png);}
.AutoRevolve	{background:url(../../../image/ui/imgtool/auto_revolve.png);}
.LeftRevolve	{background:url(../../../image/ui/imgtool/left_revolve.png);}
.RightRevolve	{background:url(../../../image/ui/imgtool/right_revolve.png);}
.ShowCentre		{background:url(../../../image/ui/imgtool/show_core.png);}
.ShowTriangle	{background:url(../../../image/ui/imgtool/show_delta.png);}
.ShowMnt		{background:url(../../../image/ui/imgtool/mnt_point_visible.png);}
.ShowMntDirection		{background:url(../../../image/ui/imgtool/showmntdir.png);}
.ShowMatchMnt		{background:url(../../../image/ui/imgtool/showmatchmnt.png);}
.ShowMntNumber		{background:url(../../../image/ui/imgtool/showmntnum.png);}
.DelMatchMarkPoint		{background:url(../../../image/ui/imgtool/del_match_mark_point.png);}
.AllMnt		    {background:url(../../../image/ui/imgtool/all_mnt.png);}
.LineWidth		{background:url(../../../image/ui/imgtool/line_width.png);}

