.TableConfigPagePlus {overflow: auto;height: 413px;width: 479px}

.ColorConfig_Row  {width:475px;height:365px ;border-collapse:separate; border-spacing:10px}
.ColorConfig_Line  {width:475px;height:365px ;border-collapse:separate; border-spacing:10px}

.col_table	{margin-top:2px;width:390px;height:378px;border:1px solid gray;}
.table-config {margin-bottom: 10px}
.table-config .config-colName						{width:80px;}
.table-config .config-colInput					{width:290px;}
.table-config .config-color						{width:30px;}

