
.Open_Button			{float:left;margin-left:2px;margin-top:2px;width:24px;height:24px;background:url(../../image/ui/global/open_24.png);}
.Save_Button			{float:left;margin-left:2px;margin-top:2px;width:24px;height:24px;background:url(../../image/ui/global/save_24.png);}
.Save_Button_U			{float:left;margin-left:2px;margin-top:2px;width:24px;height:24px;background:url(../../image/ui/global/save_d_24.png);}
.DB_Button				{float:left;margin-left:2px;margin-top:2px;width:24px;height:24px;background:url(../../image/ui/global/selectdb_24.png);}

