/* 搜索功能  搜索框 */
.search_box {width: 350px;height: 30px;position: absolute;top: 20px;left: 45px;}
.search_box > input{width: 235px;height: 28px;padding: 0px 8px;background-color: #174861;border: 1px solid #25b3ff;font-size: 13px;color:#cad9e8;}
.search_box > button{ position: absolute; height: 30px; width: 56px; background: url(../images/Search_normal.png) ;border: none ;}
.search_box > button:hover{background: url(../images/Search_over.png) ;border: none ;}
.search_box .camera_list{background:url(../images/camera_list_normal.png) no-repeat ; width: 30px;height: 30px; position: absolute; left: 320px; background-size: 30px;}
.search_box .camera_list:hover{background:url(../images/camera_list_over.png) no-repeat ;background-size: 30px;}
.search_box .clear {display: block; position: absolute; left: 228px; top: 0px; content: ""; width: 24px; height: 30px; background-image: url(../images/clearIcon.png);cursor: pointer;}


/* 左侧悬浮容器 */
.left_box{position:absolute; width: 308px; top: 54px; left: 45px; background: rgba(1, 55, 84, 0.9) none repeat scroll 0 0 !important; color: #fff; display: none;border: 1px solid rgba(37, 179, 255, 0.4);}
.search_theme {display: none;}
.search_theme .tab_list{height: 35px;line-height: 35px;margin: 0px 10px;font-size: 14px;border-bottom: 1px solid #096683;}
.search_theme .tab_list li{width: 100%; padding-left:10px;color:#ffde00;}
/*.search_theme .tab_list li.on{color:#ffde00;}*/

.search_theme .tab_item .theme_list{padding: 10px 0px;margin: 0px 10px;}
.search_theme .tab_item .theme_list span{display:inline-block; width:24%; text-align: center; height: 30px; line-height: 30px; cursor: pointer;}
.search_theme .tab_item .theme_list span.on{background: #00a5dc;}

/* 搜索功能  结果列表 */
.ul_details {width:287px;height: 770px;padding: 5px 10px;border-top: 1px solid #25b3ff;filter: Alpha(opacity=90);}
.ul_details > p {font-size: 13px;color: #FFFFFF;margin: 0 0 8px 0px;width: 290px;float: left;}
.ul_details > p > span { color: #ffde00; font-size: 14px;}
.ul_deails_close {color: red;cursor: pointer;font-size: 16px;padding: 0px 5px;float: right; margin-top: -25px;}
.ul_details .details_text_box {height: 745px;overflow: auto;width: 285px;padding-right: 10px;}
.ul_details .details_text {width: 284px;padding: 5px 0px;/* margin-top: 10px; */}
.ul_details .details_text:hover{background: rgba(0, 102, 156, 0.64)}
/*.ul_details .details_text:hover > ul > li.btn_box {display: block;}*/
.ul_details .details_text > p {width: 279px;line-height: 24px;font-size: 12px;color: #FFFFFF;cursor: pointer;margin-bottom: 4px;}
.ul_details .details_text.on {background: rgba(0, 102, 156, 0.64)}
.ul_details .details_text.on > p{color:#ffe500;}
.ul_details .details_text.on > ul > li.btn_box{display: block;}
.ul_details .details_text > p > span { float: left; display: block; width: 24px; height: 24px; line-height: 30px; margin-right: 6px; padding-top: 2px; text-align: center; background: url(../images/spjk_shehuishipin.png) no-repeat; background-size: 24px;}
.ul_details .details_text > ul {margin-left: 45px;}
.ul_details .details_text > ul > li {line-height: 20px; color: #c7efff;display: none;}
.ul_details .details_text > ul > li.btn_box button{height: 25px;padding: 0px 10px;margin-right: 10px;color: #fff; background: #1473a0; color:#fff ; border: none;}
.ul_details .details_text > ul > li.btn_box button:hover{ background: #00c3f0; color:#ffffff ;border: none;}
ul.button_list{
    position: absolute;
    left: 500px;
    top: 10px;
    padding: 3px;
    width: 130px;
    display: none;
}
ul.button_list li{
    padding: 2px;
}
ul.button_list li button{
    width: 125px;
    height: 30px;
    background: url(../images/btn.png) no-repeat;
    border: 0px;
    color: #00a5dc;
}
ul.button_list li button:hover{color: #e6d72e;}

/** 泡泡详情**/
.pop_box_wrap{width:392px;position: relative; }
.pop_box_wrap>b{display: block; width: 30px; height: 30px;cursor: pointer; background: url(../images/pop_closed.png) no-repeat; position: absolute; top: -7px; right:-4px ;}
.pop_box_wrap>span{ display: block; width: 392px; height:22px;}
.pop_box_wrap>span.wrap_line_top{ background: url(../images/pop_border_top.png) -1px  no-repeat;}
.pop_box_wrap .pop_box{background: url(../images/pop_border_middle.png) repeat-y;}
/* .pop_text{margin-bottom:12px;} */
.pop_text>p{position:relative;width:316px; height: 25px; padding-left:26px;line-height:25px; margin:0 auto;color:#fff;border-radius: 50px; border: 1px solid #036c95;}
.pop_text>p>i{display:block; width:12px; height:12px;  background: url(../images/pop_tri_icon.png)  5px 0 no-repeat; position: absolute; top: 8px; right:24px;}
.pop_text>p:hover,.pop_text>p.active{ color: #ffde00;  cursor:pointer;}
.pop_text>p.active>i{ background: url(../images/pop_tri_icon.png)  -16px 0 no-repeat; position: absolute; top: 10px; right:22px;}
/* .pop_text>ul{margin-top:12px;padding-left: 30px;} */
.pop_text>ul{padding-left: 30px;}
.pop_text>ul>li{line-height:26px;color: #c7efff;}
.pop_box_wrap>span.wrap_line_bottom{ background: url(../images/pop_border_bottom.png) -1px no-repeat;height:25px;}

/**
* 圆形菜单
*/
.menu-circle  {
    position: absolute;
    background-color: rgba(0,0,0,0);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 0px;
    border-radius: 50px;
    border: 0px solid #cccccc;
    width: 100px;
    height: 100px;
    bottom: -50px;
    left: -50px;
}

.menu-items{
    width: 100px;
    height: 100px;	
}

.menu-item{
	display:block;
	background-color: rgba(255,255,255,1);
	border-radius: 12px;
	width: 24px;
    height: 24px;
}

div.gjImg{width:158px;height:118px; border:1px #006e96 solid; cursor:pointer;z-index:0;}
div.gjImg img{display:block; width:158px; height:98px;}
div.gjImg .title{height:21px; line-height:21px; padding:0 10px; background:#006e96; color:#FFF;}