@charset "utf-8";
.circular {
	overflow:hidden;
	pointer-events:auto;
}
.circular ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.circular li {
	position:absolute;
	height:50%;
	width:50%;
	transform-origin:bottom right;
	overflow:hidden;
}
.circular li>a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 200%;
	width: 200%;
	border-radius: 50%;
	text-align: center;
	font-size: 16px;
	background-color:rgba(0,130,180,0.8);
}
.circular li>a.on{background:radial-gradient(transparent 35.3553%, rgba(230, 220, 50,0.8) 35.3553%)}
.circular li>a>p{
	margin-top:18px;
}

.circular li>a:hover {

	background-color:#f3ffff;
}

.circular div.after {
		position:absolute;
		border-radius:50%;
}

.controlPanelOut {
	width: 200px;
	height: 200px;
	margin-top: -100px;
	position: relative;
	margin-left: -100px;
	margin-right: auto;
}

.controlPanel {
	width: 200px;
	height: 200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.controlPanel a {
	text-decoration: none;
	color: white;
}
.controlPanel a:hover {
	color: #333;
}
.controlPanelOut .btn {
	position: absolute;
	height: 17%;
	width: 17%;
	top: 42%;
	left: 42%;
	color: white;
	text-align: center;
	border-radius: 50%;
}
.controlPanelOut .btn img{
	margin-top: 5px;
}
/*.controlPanelOut .btn:hover {
	background-color: green;
}*/

.controlPanelOut .btn span {
	position: absolute;
	top: 30%;
	left: 30%;
}
.controlPanelOut .cpzhuanpan{
	margin:2%;
	position: absolute;
		-webkit-animation: btmain 2s infinite linear;
	    animation: btmain 2s infinite linear;
}
.controlPanelOut .cpzhuanpan2{
	margin:2%;
	position: absolute;
		-webkit-animation: btmain2 4s infinite linear;
	    animation: btmain2 4s infinite linear;
}

@-webkit-keyframes btmain {
  0% {
      	-webkit-transform:rotatez(0deg);
        				transform:rotatez(0deg);
  }
  100% {
  			-webkit-transform: rotatez(359deg);
    						transform: rotatez(359deg);
  }
}
@keyframes btmain {
  0% {
      	-webkit-transform:rotatez(0deg);
        				transform:rotatez(0deg);
  }
  100% {
  			-webkit-transform: rotatez(359deg);
    						transform: rotatez(359deg);
  }
}

@-webkit-keyframes btmain2 {
  0% {
      	-webkit-transform:rotatez(0deg);
        				transform:rotatez(0deg);
  }
  100% {
  			-webkit-transform: rotatez(-359deg);
    						transform: rotatez(-359deg);
  }
}
@keyframes btmain2 {
  0% {
      	-webkit-transform:rotatez(0deg);
        				transform:rotatez(0deg);
  }
  100% {
  			-webkit-transform: rotatez(-359deg);
    						transform: rotatez(-359deg);
  }
}