/*通用清理样式*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	box-sizing: border-box;
}
.detail{
	padding: 0 15px 20px 15px;
	overflow: hidden;
	position: relative;
	background: #f0f3f6;
	border: 1px solid #ddd;
	min-width: 780px;
}
.detail  h4{
	height: 40px;
	line-height: 40px;
	font-size: 1.2em;
	font-weight: bold;
	color: #0168AC;
	clear: both;
}
.detail .detailform{
	float: left;
	width: 45%;
	margin-right: 5%;
	margin-bottom: 20px;
	height: 32px;
	line-height: 32px;
	white-space: nowrap;
}
.detail .detailform label {
	width: 33%;
	height: 32px;
	color: #666;
	position: relative;
	float: left;
	font-weight: bold;
}
.detail .detailform .content {
	width: 66%;
	height: 32px;
	color: #666;
	position: relative;
	float: left;
}
/*显示多行文本*/

.Sigle_Line_Div {
	width: 95%!important;
}
.Sigle_Line_Div label {
	width: 15.63%!important;
}
.Sigle_Line_Div>div {
	width: 83.9%!important;
}
.TextArea_Line_Div {
	height:62px!important;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font: 0.8em/1.5 "微软雅黑";
	color: #333;
}

/*字段超长 tip提示框*/
.td_showdiv {
	width: 200px;
	height: auto;
	background: #1c1c1c;
	position: absolute;
	display: none;
	padding: 5px 10px;
	word-wrap: break-word;
	color: #f3f0f6;
	z-index: 9999;
}
.detail .other {
	clear: both; margin-top: 40px;
}

.detail .other>div {
	width: 100%;
	overflow-x: auto;
}

.detail .other h5 {
	background: #535353;
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	font-size: 1.2em;
	font-weight: bold;
}

.detail .other h5 button {
	float: right;
	width: 15px;
	height: 14px;
	margin: 10px 0 0 10px;
	cursor: pointer;
}
.detail .other h5 button:hover {
	opacity: 0.8;
}
.detail .other table {
	width: 100%;
	border: 1px solid #ccc;
	width: 100%;
	max-width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	white-space: nowrap;
}

.detail .other table th {
	height: 32px;
	background: #f9f9f9;
	color: #666;
	font-weight: normal;
	border: 1px solid #ddd;
	text-align: left;
	padding: 0 10px;
}

.detail .other table td {
	height: 32px;
	border: 1px solid #ddd;
	padding: 0 10px;
}
.detail .other table tr{background: #fff;}
.detail .other table .rowdown,.detail .other table .rowhover{background: #ebf6ff;}
