
.FooterContent
{
	margin:0px auto;
	width:1250px;
}
.AbisFooter
{
	margin:0px auto;
	width:1250px;
	height:70px;
	background: url(../../../image/abis/layoutpage/hfooter.png) repeat-x;
	overflow: hidden;	
	visibility:hidden;
}

.AbisFooter .content
{
	color:#ecedef;
	margin-top:10px;
	font-size:12px;
	text-align: center;
}